extends admin_layout

block content
        header.w3-container.w3-block(style="box-shadow: 0px 1px 6px grey")
            h1 Novo Utilizador
        form.w3-container(id="formRegisterUser" style="width: 100%")
            .w3-row 
                .w3-col.m6
                    br
                    label.w3-text
                        //b Nome: 
                    input.w3-input(type='file', name='avatar', style='width:60%',placeholder='avatar', id="upload-img")
                    br
                    label.w3-text
                        //b Nome: 
                    input.w3-input(type='text', name='nome', style='width:60%',placeholder='Nome')
                    br
                    label.w3-text
                        //b Endereço de email:
                    input.w3-input(type='text', name='email', style='width:60%',placeholder='Endereço de email')
                    br
                    label.w3-text
                    //b Password:
                    input.w3-input(type='password', name='password', style='width:60%',placeholder='Password')
                    br
                    table.w3-table(style='width:60%')
                        tr
                            td
                                label.w3-text Sexo &emsp;
                            td
                                select.w3-select(type='text', name='sexo')
                                    option(value="Masculino") Masculino
                                    option(value="Feminino") Feminino
                                    option(value="Outro") Outro
                        tr
                            td
                                label.w3-text Tipo de utilizador &emsp;
                            td
                                select.w3-select(type='text', name='tipo')
                                    option(value="Músico") Músico 
                                    option(value="Produtor") Produtor
                    h4
                        u Informações Adicionais
                        br
                        i Ainda a adicionar
                .w3-col.m6
                    .w3-container.w3-section(id="profile-pic")
            input.w3-btn.w3-blue-grey.w3-margin.w3-right(type='submit', value='Registar', id="buttonRegisterUser")
