extends admin_layout

block content
    header.w3-container(style="box-shadow: 0px 1px 6px grey")
        h1 Utilizadores 
    input( id="searchUsers" type="text" placeholder="Procurar...").w3-input.w3-margin
    div(style="height: 78%; overflow: auto;")
        table(id="usersTable").w3-table.w3-table-all
                each u in users 
                    if u.tipo != 'Admin'
                        tr
                            td
                                .w3-bar
                                    .w3-bar-item 
                                        if u.profile_pic
                                            img(style="width: 50px; height: 50px; border-radius: 50%;" src=u.profile_pic)
                                        else
                                            img(style="width: 50px; height: 50px; border-radius: 50%;" src="/uploaded/profile-default.png")
                                    .w3-bar-item
                                        if u.nome
                                            | #{u.nome} 
                                        br     
                                        if u.email
                                            | #{u.email}
                            td.w3-display-container
                                .w3-display-right
                                    a.w3-margin(href="/admin/users/" + u._id)
                                        i.fas.fa-eye
                                    a.w3-margin(class="buttonRemoveUser", href="/api/users/" + u._id)
                                        i.fas.fa-trash-alt
                                    
