extends musico_layout

block content
    header.w3-container(style="box-shadow: 0px 1px 6px grey")
        h1 Notícias
    div.w3-section(style="height: 78%; overflow: auto;")
        .w3-container
            table(id="noticiasTable").w3-table.w3-table-all
                each n in noticias.reverse()
                    if n.visibilidade == true
                        tr
                            td
                                .w3-bar
                                    .w3-bar-item
                                        h3(style="margin-bottom: 0px;")  #{n.titulo}  
                                        span(style="margintop: 0px;") #{moment(n.data).format('DD/MM/YYYY')}
                                        br     
                                        p!= n.texto.replace(/\n/g, '<br />')
                                        if n.fonte
                                            span 
                                                b Fonte: &nbsp;
                                                a(href=n.fonte target="_blank")= n.fonte