extends admin_layout

block content
        header.w3-container
            h1 Novo Utilizador
        form.w3-container(id="formRegistration" style="width: 100%")
            br
            label.w3-text
                //b Nome: 
            input.w3-input(type='text', name='nome', style='width:40%',placeholder='Nome')
            br
            label.w3-text
                //b Endereço de email:
            input.w3-input(type='text', name='email', style='width:40%',placeholder='Endereço de email')
            br
            label.w3-text
            //b Password:
            input.w3-input(type='password', name='password', style='width:40%',placeholder='Password')
            br
            table.w3-table(style='width:40%')
                tr
                    td
                        label.w3-text Sexo &emsp;
                    td
                        select.w3-select(type='text', name='sexo')
                            option(value="Masculino") Masculino
                            option(value="Feminino") Feminino
                            option(value="Outro") Outro
                tr
                    td
                        label.w3-text Tipo de utilizador &emsp;
                    td
                        select.w3-select(type='text', name='tipo')
                            option(value="Músico") Músico 
                            option(value="Produtor") Produtor
            h4
                u Informações Adicionais
                br
                i Ainda a adicionar
            input.w3-btn.w3-blue-grey.w3-margin.w3-right(type='submit', value='Registar', id="buttonRegister")
