extends login_layout

block content
    .w3-container
        .w3-card-4.w3-display-middle(style="width:40%; opacity: 0.8;").w3-theme-1
            .w3-container
                h2.w3-center  Sorry
                h3.w3-center  Unauthorized