extends admin_layout

block content
    header.w3-container
        h1 Músicos 
    .w3-display-bottommiddle(style="overflow: scroll; width: 101%; height: 90%; border: 0px solid grey;")
        table.w3-table.w3-table-all
            each u in users 
                tr(id="tableRow")
                            td
                                .w3-bar
                                    .w3-bar-item
                                        if u.nome
                                            | #{u.nome} 
                                        br     
                                        if u.email
                                            | #{u.email}
                            td.w3-display-container
                                .w3-display-right
                                    a.w3-margin(href="/admin/users/" + u._id) view 
                                    br
                                    a.w3-margin(class="buttonRemoveUser", href="/api/users/" + u._id) remove
                                    
